@mixin text-style($color, $font-size, $font-family) {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
}

/*Posso criar uma variavel e adicionar ela no text-style*/
$primary-color: #7239b6;

.texts {
  h1 {
    @include text-style($primary-color, 20px, Arial);
  }
}
