* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  align-items: center; /*Alinhar na vertical*/
  gap: 20px; /*Row e Column Gap | somente o Gap é a junção dos dois*/
  justify-content: center; /*Centraliza na horizontal*/
  background-color: darkcyan;
  height: 100vh;
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  font-size: 25px;
  background-color: slateblue;
  align-items: center;
}
